{% extends "forum/base.html" %}

{% block content %}
<h2>Réinitialiser votre mot de passe</h2>
<p>Veuillez entrer votre nouveau mot de passe ci-dessous :</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Changer mon mot de passe</button>
</form>

{% if messages %}
    <div class="alert alert-info mt-3">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
